200.txt
4000.txt
reviews_submit.tsv
reviews_train.tsv
reviews_test.tsv
reviews_val.tsv
stopwords.txt
toy_data.tsv
__pycache__
Datasets
sample_images
._.DS_Store
.DS_Store
theta.pkl.gz
mnist_model_fully_connected.pt
netflix_complete.txt
netflix_incomplete.txt
*.pdf
golub.csv
golub_gnames.csv
p1/
p2_evaluation/
p2_unsupervised/
p2_unsupervised_reduced/
p2_evaluation_reduced/
._gene_names
._p1
._p2_evaluation
._p2_unsupervised
._p2_unsupervised_reduced
._p2_evaluation_reduced
genes.csv
._genes.csv

